#why_us_section h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  .lead{
    color: #9f9f9f;
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }
  